.clearfix:after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden
}
.clearfix {
    display: block
}
.floatbox {
    overflow: hidden;
}
.clear {
    clear: both;
    height: 1px;
    line-height: 1px
}
.hide {
    display: none
}
.topcomment .btn {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0
}
.comments .article {
    background-color: #f7f7f7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    overflow: auto;
    z-index: 100;
    transition: all .5s;
    -webkit-transition: all .5s;
    padding-top: 0;
    margin: 0;
    z-index: 10001
}
:not(.ipad) body.disable-scroll {
    overflow: hidden;
    margin-right: 17px
}
.ipad.disable-scroll,
.ipad .disable-scroll {
    overflow: hidden;
    margin-right: 0
}
.mac body.disable-scroll {
    margin-right: 0
}
.comments[data-commentmsid] .article {
    width: 480px;
    min-height: 100%;
    padding: 10px 10px 10px 0;
    z-index: 99999
}
.comments[data-commentmsid] .article .close {
    float: right;
    padding: 3px;    
    font-size: 36px;
    color: #7b7b7b;
    cursor: pointer;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: fixed;
    z-index: 100;
    right: 10px;
    width: 30px;
    height: 30px;
    margin-top: 10px; top: 0
}
.comments.slide-in .article {
    right: 0;
    margin-top: 20px !important;
}
.comments.slide-in .article h2{
    right: 1px;
    top :0 !important;
}

.dyn-width .scrolltotop {
    background: #03a9f4;
    font-size: 60%;
    padding: 5px;
    border-radius: 4px;
    float: right;
    margin-right: 20px;
    cursor: pointer
}
.comments .cmtbtn {
    text-align: center;
    padding: 0;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    vertical-align: middle
}
.comments .cmtbtn.add {
    color: #6d6d6d;
    width: 49%
}
.comments .cmtbtn.add:hover {
    color: #37accd
}
.comments .cmtbtn.view {    
    color: #6d6d6d;
    width: 49%;
    position: relative;
    border-right: 1px solid #979797
}
.comments .cmtbtn.view span {
    color: #333
}
.comments .cmtbtn span {
    display: inline-block;
    padding: 0 5px
}
.comments .cmtbtn .icon {
    background: url(https://timesofindia.indiatimes.com/photo/55895419.cms) no-repeat -94px 0;
    width: 23px;
    height: 20px;
    padding: 0;
    vertical-align: middle;
    position: relative
}
.cmtbtn-wrapper {
    background: #f6f6f6;
    border-radius: 5px;
    margin: 20px auto 40px;
    position: relative;
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 13px 0;
    clear: both
}
.chooseLang a.selected {
    color: #000;
    cursor: text;
}
.comment-section {
    max-width: 640px;
    margin-bottom: 210px
}
.comment-section h2 {
    color: #1a1a1a;
    font-size: 20px;
    line-height: 1;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    padding-top: 13px;
    padding-left: 13px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    max-width: 639px;
    width: 100%;
    z-index: 9;
    background: #f7f7f7;
    transition: all .5s;
    -webkit-transition: all .5s
}
.comment-section * :focus{outline: none}
.comment-section h2 span.text>span {
    color: #686868
}
.comments.slide-in .comment-section header {
    position: fixed
}
.comments.slide-in .comment-section h2 {
    /*right: 0*/
}
.comments.slide-in .sortby {
    right: 50px
}
.comment-section .badges img,
.comment-section .badges {
    height: auto !important
}
.ie678 .comment-section .badges img {
    height: 24px !important
}
.comment-section span.cpointer {
    cursor: pointer
}
.comment-section .add-comment {
    background: url(https://timesofindia.indiatimes.com/photo/55895419.cms) no-repeat -70px 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 22px;
    height: 19px;
    cursor: pointer
}
.comment-section .add-comment.disable {
    background-position: -95px 0
}
.cmtbtn-wrapper.zero-comments .cmtbtn.add {
    display: block;
    width: 100%;
    text-align: center;
    padding-left: 15px
}
.cmtbtn-wrapper.zero-comments .cmtbtn.add:before {
    display: none
}
.cmtbtn-wrapper.zero-comments .cmtbtn.add:after {
    position: absolute;
    content: '';
    background: url(https://timesofindia.indiatimes.com/photo/53983691.cms) no-repeat -220px -110px;
    width: 21px;
    height: 21px;
    left: 50%;
    margin-left: -10px;
    bottom: -21px
}
.comment-form2 {
    position: relative;
    margin-bottom: 14px
}
.comment-form2 .close {
    display: none
}
.comment-form2 textarea {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 2%;
    background: #f5f5f5;
    border: 1px solid #c7cacc;
    box-shadow: 2px 2px 2px #dedfdf inset;
    -moz-box-shadow: 2px 2px 2px #dedfdf inset;
    -webkit-box-shadow: 2px 2px 2px #dedfdf inset;
    margin-bottom: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 37px;
    resize: none;
    font-size: 14px;
    color: #9c9fa1;
    margin-bottom: 10px;
    margin-left: 35px;
    width: calc(100% - 90px);
    float: left;
    border: 0
}
.comment-form2.full textarea {
    height: 80px
}
.comment-form2[data-plugin="comment-reply"] textarea {
    width: 80%
}
.comment-form2[data-plugin="comment-reply"] textarea+input.submit {
    margin-right: 0
}
.comment-form2[data-plugin="comment-reply"] .close {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    position: absolute !important;
    right: -10px!Important
}
.comment-footer {
    margin-bottom: 15px;
    padding: 0 10px;
/*    display: none;*/
    height: 2px;
    position: relative
}
.comment-footer span.char-count {
    display: inline-block;
    line-height: 15px;
    color: #999;
    font-size: 11px;
    position: absolute;
    right: 10px;
    top: -14px
}
.comment-footer input.submit {
    background: #d91f00 !important
}
.comment-section .user-thumbnail,
.comment-section .comment-form2 .user-thumbnail {
    position: absolute;
    left: 12px;
    top: 6px;
    width: 25px;
    height: 25px
}
.comment-section .user-thumbnail img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100%;
    height: 100%
}
.comment-form2 .login-area {
    display: none !important
}
.comment-form2.full .login-area {
    display: block !important
}
.comment-form2 h3 {
    margin-bottom: 10px;
    margin-top: 0
}
.comment-form2 .social-login {
    width: 125px;
    float: left
}
/*.comment-form2 .social-login span {
    display: inline-block;
    background: url(https://timesofindia.indiatimes.com/photo/51105895.cms) no-repeat;
    padding-left: 32px;
    height: 32px;
    cursor: pointer;
    margin: 0 2px
}*/

.comment-form2 .social-login span {
    display: inline-block;
    background: url(https://navbharattimes.indiatimes.com/photo/55895419.cms) no-repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    margin-right: 10px;
    width: 34px;
}
.comment-form2 .social-login span.fb {
    background-position: 0 -70px
}
.comment-form2 .social-login span.google {
    background-position: -40px -70px
}
/*.comment-form2 .social-login span.fb {
    background-position: 0 -54px
}
*/

.comment-form2 .social-login span.twitter {
    background-position: 0 -88px
}
/*.comment-form2 .social-login span.google {
    background-position: 0 -121px
}*/
/*.comment-form2 .social-login span.email {
    background-position: 0 -170px
}*/

.comment-form2 .social-login span.email {
    background-position: -80px -70px
}
.comment-form2 .social-login span small {
    display: none;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 9px;
    width: 50px
}
.comment-form2 .social-login span.fb small {
    background: #5770b3;
    text-align: left
}
.comment-form2 .social-login span.twitter small {
    background: #30c7fc;
    width: 45px;
    padding-left: 5px
}
.comment-form2 .social-login span.email small {
    background: #ccc;
    width: 45px;
    padding-left: 5px
}
.comment-form2 .social-login span.google small {
    background: #f27a00;
    text-align: left
}
.comment-form2 .social-post {
    margin: 0 0 5px 0;
    text-align: left
}
.comment-form2 .social-post.social-share-loggedin {
    float: right;
    width: 300px;
    float: right
}
.comment-form2 .social-post label {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 1% 0 30px;
    font-size: 13px;
    color: #fff;
    background: #666;
    width: 46%;
    margin: 0 10px 0 0;
    border: 0;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 3px;
    -webkit-border-radius: 3px
}
.comments-list .comment-form2 .social-post label {
    font-size: 10px
}
.comment-form2 .social-post label i,
.comment-form2 .social-post label input {
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
    position: relative;
    top: -1px
}
.comment-form2 .social-post label i:before {
    position: absolute;
    content: '';
    background: rgba(255, 255, 255, .5);
    width: 1px;
    height: 100%;
    left: -8px;
    top: 0
}
.comment-form2 .social-post label input {
    width: auto !important;
    display: none
}
.comment-form2 .social-post label {
    position: relative
}
.comment-form2 .social-post label span:before {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 2px;
    width: 13px;
    height: 13px;
    left: 10px;
    top: 8px
}
.comment-form2 .social-post label input[type=checkbox]:checked+span:after {
    position: absolute; content: ''; display: block; width: 5px; height: 8px; left: 14px; top: 9px; border: solid #fff; border-width: 0 2px 2px 0; transform: rotate(45deg);
}
.comment-form2 .social-post label.fb input[type=checkbox]:checked+span:after {
    border-color: #3c5a9a
}
.comment-form2 .social-post label.twitter input[type=checkbox]:checked+span:after {
    border-color: #4aaffd
}
.comment-form2 .social-post label i {
    background: url(https://timesofindia.indiatimes.com/photo/55895419.cms) no-repeat
}
.comment-form2 .social-post label.fb {
    background: #3c5a9a
}
.comment-form2 .social-post label.twitter {
    background: #4aaffd
}
.comment-form2 .social-post label i.icon-fb {
    background-position: 4px -110px;
    width: 10px;
    height: 14px
}
.comment-form2 .social-post label i.icon-twitter {
    background-position: -9px -107px;
    width: 12px;
    height: 15px
}
.comment-form2 .signin-form input.textbox {
    float: left;
    display: block;
    width: 90%;
    padding: 5px 2%;
    margin: 0 0 5px 0;
    background: #fff;
    height: 34px;
    border: 1px solid #d9d9d9;
    font-size: 15px;
    color: #959595;
    box-sizing: border-box
}
.comment-form2 input.submit {
    float: right;
    border: 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
    color: #fff;
    height: 32px;
    background: #d91f00;
    font-size: 14px;
    display: block;
    width: 70px;
    margin-top: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 20px
}
.comment-form2 .noreg .social-login {
    width: 258px
}
.comment-form2 .noreg .signin-form {
    width: 100%
}
.comment-form2 .noreg .signin-form .social-post {
    display: none
}
.comment-form2 .noreg .signin-form .hide_noreg {
    display: none
}
.loggedin .comment-form2 .noreg .signin-form {
    border-top: 1px solid #eee
}
.loggedin .comment-form2 .noreg .signin-form .social-post {
    display: block;
    margin: 10px 12px
}
.comment-form2 .signin-form .mathbox {
    float: left;
    margin: 0 0 5px 0;
    width: 59%
}
.comment-form2 .signin-form .mathbox span {
    width: 44%;
    float: left;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 16px;
    color: #666;
    background: #ccc;
    border: 1px solid #d9d9d9;
    box-sizing: border-box
}
.comment-form2 .signin-form .mathbox input.textbox {
    margin: 0;
    width: 56%;
    float: left;
    box-sizing: border-box
}
.comment-form2 .noreg .social-login span small {
    display: inline-block
}
.leftsocial .comment-slider .tcount {
    position: absolute;
    bottom: -55px;
    display: none
}
.leftsocial .comment-slider:hover .tcount {
    display: block
}
#comment-holder {
    background: #fff;
    padding: 10px 0;
    position: relative;
    top: 0;
    transition: all .5s;
    -webkit-transition: all .5s
}
#comment-holder .add-comment-section {
    padding: 0;
    position: relative
}
#comment-holder.holder-pos-top {
    position: fixed;
    top: 45px;
    background: #fff;
    width: 438px;
    z-index: 2;
    transition: all .5s;
    border: 1px solid #ddd;
    border-top: 0
}
#comment-holder.holder-pos-top .comment-form2 {
    margin-top: 0
}
.comment-form2 .close-section {
    background: #5b9ae4;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    border-radius: 5px;
    float: right;
    margin-right: 10px;
    display: none;
    cursor: pointer
}
#comment-holder.holder-pos-top .close-section {
    display: block
}
.comment-processing:before {
    background: rgba(255, 255, 255, 0.6);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9
}
.comment-form2.reply {
    position: relative;
    padding-right: 15px;
    margin: 0 0 10px 0 !important
}
.comment-form2 a.close {
    color: #999;
    font-size: 16px;
    position: absolute;
    top: 2px;
    right: 0;
    text-decoration: none
}
.comment-form2 a.close:hover {
    color: #333;
    text-decoration: none
}
.comment-form2.reply input.submit {
    margin-top: 0
}
.comment-form2.reply .close {
    display: block
}
.comment-section .level3 .social-login {
    float: none
}
.comment-section .social-login-inner {
    float: right;
    margin-right: 2px
}
.comment-section .social-login-inner input.submit {
    margin-top: 24px
}
.reply .comment-footer span.char-count {
    top: -9px
}
.comment-form2.reply .login-area {
    padding-bottom: 0;
    border-bottom: 0
}
.comment-form2.reply .social-login {
    float: none;
    margin-bottom: 15px
}
.comment-form2.reply .signin-form {
    float: none
}
.comment-form2.reply {
    border: 0
}
.comment-form2.reply input.submit {
    float: right
}
.comment-form2.reply .user-thumbnail {
    left: 0
}
.comment-form2.reply .add-comment-section {
    margin-bottom: 10px
}
.comment-form2.reply .add-comment-section .user-thumbnail {
    left: 0
}
.comments.slide-in .article .comment-form2 a.close {
    z-index: 8;
    padding-top: 0;
    margin-top: -7px
}
.comments .sortby {
    padding: 10px 0;
    position: fixed;
    right: -120px;
    top: 5px;
    z-index: 100;
    transition: all .5s
}
.comments .sortby span {
    display: inline-block;
    color: #454545;
    text-transform: uppercase;
    margin-right: 5px;
    line-height: 17px;
    font-size: 10px
}
.comments .sortby select {
    background: #fff;
    border: 0;
    font-size: 10px;
    color: #000;
    height: 17px;
    width: 110px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    webkit-border-radius: 2px;
    padding: 3px 5px;
    text-transform: uppercase;
    box-shadow: none
}
.comments .sortby select option {
    background: #e6e4e5;
    border-bottom: 1px solid #797778;
    text-transform: uppercase
}
.comment-box p.comment-dialog,
p.comment-dialog {
    clear: both;
    color: #959595;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 10px;
}
p.comment-dialog {
    border-top: 1px solid rgba(216, 216, 216, 0.3);
    padding: 10px 25px 0 12px
}
.comment-box {
    padding-left: 46px;
    padding-right: 15px;
    padding-top: 10px;
    position: relative;
    border-bottom: 1px solid #d8d8d8;
}
.comment-box:hover {
    background: #fafafa
}
.comment-box.level {
    border-bottom: 1px solid #d8d8d8
}
.comment-box.authCmt {
    background: #fffbd4 !important
}
.comment-box .info-bar {
    margin-bottom: 10px;
    border: 0;
    padding: 0
}
.comment-box a.name,
.comment-box span.name {
    display: inline-block;
    font-size: 14px;
    color: #454545;
    float: left;
    line-height: 23px;
    margin-right: 9px;
    text-transform: capitalize
}
.comment-box a.name:hover,
.comment-box span.name:hover {
    text-decoration: none
}
.comment-box.authCmt a.name:after {
    content: 'Author';
    font-size: 12px;
    background: #fbbc33;
    border-radius: 1000px;
    padding: 5px 10px 2px;
    color: #4a4a4a;
    line-height: 1;
    display: inline-block;
    margin-left: 6px;
    position: relative;
    top: -1px
}
.comments-overlay .comment-box.authCmt a.name:after {
    padding-top: 3px;
    padding-bottom: 3px
}
.comment-box span.point {
    display: inline-block;
    padding: 0 5px;
    line-height: 18px;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    float: left
}
.comment-box span.point.gold {
    background: #ffc600
}
.comment-box span.point.silver {
    background: #cdd2d9
}
.comment-box span.point.bronze {
    background: #eede9d
}
.comment-box span.point.platinum {
    background: #adbfe4
}
.comment-box span.metadata {
    color: #666;
    font-size: 12px;
    display: inline-block;
    clear: right;
    float: left;
    line-height: 23px;
}
.comment-box span.divider {
    margin: 0 6px;
    line-height: 23px;
    color: #ababab;
    font-size: 13px;
    position: relative;
    float: left
}
.comment-box .badges {
    float: left;
    width: auto;
    max-width: 124px;
    position: relative;
    margin: 0
}
.comment-box .badges .badge {
    position: relative;
    height: 22px;
    width: 22px;
    margin-right: 3px;
    display: inline-block;
    vertical-align: top;
    display: none
}
.comment-box .badges .badge img {
    max-width: 100%;
    vertical-align: middle
}
.comment-box span.follow {
    color: #777;
    float: left;
    line-height: 23px;
    cursor: pointer
}
.comment-box span.following {
    color: #777;
    float: left;
    line-height: 1;
    cursor: default;
    margin-top: 5px;
    margin-left: 5px;
}
.badges .more-btn {
    position: relative;
    display: inline-block;
    line-height: 22px;
    background: #5b5b5e;
    width: 18px;
    height: 18px
}
.badges .more-btn:after {
    position: absolute;
    content: "";
    background: url(https://timesofindia.indiatimes.com/photo/55895419.cms) no-repeat;
    width: 12px;
    height: 9px;
    background-position: -55px 0;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -7px
}
.comments.slide-in .badges .more-btn .popup_badge:before {
    display: none
}
.comment-box:hover span.follow,
.comment-box:hover span.following {
    display: inline-block
}
.icon-reply {
    display: inline-block;
    width: 12px;
    height: 10px;
    background: url(https://timesofindia.indiatimes.com/photo/51105895.cms) no-repeat -11px 0;
    vertical-align: middle;
    position: relative;
    top: -1px
}
.icon-downarrow,
.icon-uparrow {
    display: inline-block;
    background: url(https://timesofindia.indiatimes.com/photo/55895419.cms) no-repeat;
    width: 14px;
    height: 14px;
    margin-left: 3px;
    vertical-align: middle;
    cursor: pointer
}
.icon-downarrow {
    background-position: -15px -40px
}
.icon-uparrow {
    background-position: 0 -40px;
    position: relative;
    top: -1px
}
.icon-share {
    width: 15px;
    height: 13px;
    display: inline-block;
    background: url(https://timesofindia.indiatimes.com/photo/51105895.cms) no-repeat -17px -16px;
    vertical-align: middle
}
.icon-flag {
    width: 10px;
    height: 12px;
    display: inline-block;
    background: url(https://timesofindia.indiatimes.com/photo/51105895.cms) no-repeat 0 -18px;
    vertical-align: middle
}
.icon-follow {
    display: inline-block;
    width: 18px;
    height: 14px;
    background: url(https://timesofindia.indiatimes.com/photo/51105895.cms) no-repeat 0 -209px;
    vertical-align: middle
}
.comment-box p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 3px;
    color: #454545;
    word-wrap: break-word
}
.comment-box .footbar a,
.comment-box .footbar span {
    float: left;
    line-height: 24px;
    text-transform: uppercase;
    color: #777;
    font-size: 12px
}
.comment-box .footbar .down {
    margin-left: 15px
}
.comment-box .footbar .down span,
.comment-box .footbar .up span {
    font-size: 14px
}
.comment-box .footbar .badges {
    display: none
}
.comment-box .footbar a span,
.comment-box .footbar span span {
    float: none
}
.comment-box .footbar span.reply-btn {
    color: #ababab;
    font-size: 13px
}
.comment-box.level2:last-child {
    border-bottom: 0
}
.comment-box.level2,
.comment-box.level3 {
    padding-left: 84px;
    position: relative;
    border-bottom: 1px solid #d8d8d8
}
.comment-box.level2 .user-thumbnail,
.comment-box.level3 .user-thumbnail {
    left: 48px
}
.comment-box.highlight {
    background: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #666;
    margin-bottom: 0;
    display: block
}
.comment-box.highlight.comment-verification-msg {
    padding: 15px 0;
    text-align: center;
    display: block;
    font-size: 14px;
    border-top: 1px solid #ccc;
    background: #ccc;
    line-height: 18px
}
.comment-box.highlight:hover .follow,
.comment-box.highlight:hover .following {
    display: none
}
.comment-box.highlight .follow,
.comment-box.highlight .following {
    display: none
}
.comment-box .user-thumbnail {
    top: 12px;
    left: 13px
}
.error {
    color: #F00;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0
}
@keyframes highlight {
    0 {
        box-shadow: 0 0 0 3px rgba(91, 154, 228, 0.4) inset
    }
    100% {
        box-shadow: 0 0 0 3px #5b9ae4 inset
    }
}
@-webkit-keyframes highlight {
    0 {
        box-shadow: 0 0 0 3px rgba(91, 154, 228, 0.4) inset
    }
    100% {
        box-shadow: 0 0 0 3px #5b9ae4 inset
    }
}
.comment-box.highlight {
    animation: highlight 5s;
    -webkit-animation: highlight 5s
}
.btn-group {
    float: left;
    display: none
}
.btn-group span {
    height: 17px;
    line-height: 17px;
    padding: 0 10px;
    background: #57595b;
    font-size: 10px;
    text-transform: uppercase;
    color: #cecfd0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    margin-right: 4px;
    cursor: pointer
}
.btn-group span.active {
    background: #fff;
    color: #000
}
.tootipbox {
    position: absolute;
    width: 171px;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
    border: 1px solid #999;
    bottom: 31px;
    right: 0;
    cursor: pointer;
    z-index: 500;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    font-size: 11px;
    line-height: 16px;
    color: #666;
    font-weight: normal;
    display: none
}
.tootipbox:after {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #999;
    right: 5px;
    bottom: -8px
}
.tootipbox strong {
    font-weight: bold
}
.tootipbox a.more {
    display: block;
    color: #2980b9;
    text-decoration: none;
    text-align: left
}
.tooltip_wrap:hover .tootipbox {
    display: block
}
.psR {
    position: relative
}
.comments.slide-in .more-btn .popup_badge.popup_above:hover {
    display: block !important
}
.comments.slide-in .more-btn .popup_badge.popup_below:hover {
    display: block !important
}
.popup_badge {
    position: absolute;
    z-index: 998;
    top: 30px;
    left: -45px;
    width: 302px;
    background: #fff;
    display: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5)
}
.comments.slide-in .more-btn .popup_badge.popup_above {
    top: -290px
}
.popup_badge.popup_above {
    top: -340px
}
.popup_badge:before {
    content: " ";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 13px solid #d6dadb;
    position: absolute;
    right: 5px;
    top: -13px;
    z-index: 100
}
.popup_badge.popup_above:before {
    top: initial;
    bottom: -13px;
    border-bottom: 0;
    border-top: 13px solid #d6dadb
}
.popup_badge .heading-block {
    height: 44px;
    background: #d6dadb;
    padding: 0 10px;
    color: #fff;
}
.popup_badge .heading-block h4 {
    font-size: 16px;
    margin: 0;
    line-height: 44px;
    color: #000;
    font-weight: normal
}
.popup_badge .heading-block span.level {
    float: right;
    color: #000;
    font-size: 14px;
    line-height: 44px
}
.popup_badge .content {
    padding: 10px
}
.popup_badge .section {
    width: 93px;
    height: 100px;
    text-align: center;
    float: left;
    font-size: 12px;
    color: #5c5c5c;
    font-weight: bold;
    position: relative
}
.popup_badge .section .name {
    font-size: 11px;
    line-height: 14px;
    display: block;
    float: none;
    text-align: center
}
.popup_badge .section img {
    display: block;
    width: 65px !important;
    height: 55px !important;
    margin: 0 auto 5px;
    float: none
}
.popup_badge .more-info {
    clear: both;
    border-top: 1px solid #ccc;
    text-align: center;
    padding-top: 10px
}
.popup_badge .more-info span,
.popup_badge .more-info a {
    cursor: pointer;
    color: #206ca1;
    font-size: 12px;
    display: inline-block;
    line-height: 1
}
.popup_badge .cont_left {
    float: left;
    width: 20%
}
.popup_badge .cont_right {
    float: right;
    width: 77%
}
.popup_badge .cont_left img {
    width: 65px;
    height: 50px
}
.popup_badge .cont_right p {
    font-size: 14px;
    color: #616363;
    line-height: 18px;
}
.popup_badge .cont_right p strong {
    font-weight: bold
}
.badges .more-btn:hover .popup_badge {
    display: block
}
.badges .badge:hover .popup_badge {
    display: block
}
.badgepoint {
    background: url(https://timesofindia.indiatimes.com/photo/11537433.cms) no-repeat scroll 1px 1px rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    height: 17px;
    line-height: 15px;
    left: 62px;
    position: absolute;
    top: 10px;
    width: 14px;
    color: #fff
}
.badge .popup_badge:before {
    left: 45px
}
.badge .popup_badge {
    top: 34px
}
.popup_badge span.info-txt {
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #27282a;
    margin-bottom: 22px
}
.popup_badge h6 {
    color: #b90112;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px
}
.popup_badge ul.reasons {
    padding: 0;
    margin: 0 0 22px 0
}
.popup_badge ul.reasons li {
    list-style: none;
    margin-bottom: 6px
}
.popup_badge ul.reasons li label {
    display: block;
    line-height: 14px;
    color: #27282a;
    position: relative;
    font-weight: normal;
    padding-left: 17px
}
.popup_badge ul.reasons li input {
    display: inline;
    vertical-align: middle;
    margin: 0 5px 0 0;
    width: auto;
    position: absolute;
    left: 0
}
.popup_badge .buttons {
    text-align: center;
    width: auto
}
.button {
    display: inline-block;
    text-align: center;
    width: 97px;
    height: 31px;
    line-height: 31px !important;
    color: #fff !important;
    text-decoration: none;
    margin: 0 7px;
    background: #40b2d3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    float: none !important
}
.popup_badge .button{padding: 0}
.popup_badge span.success-message {
    display: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #27282a;
    margin-bottom: 22px
}
.popup_badge.submitted span.success-message {
    display: block
}
.popup_badge.submitted .heading-block,
.popup_badge.submitted ul.reasons,
.popup_badge.submitted h6,
.popup_badge.submitted span.info-txt,
.popup_badge.submitted .button.submit {
    display: none
}
.popup_badge textarea {
    resize: none;
    max-width: 90% !important
}
.flag_comment {
    position: relative
}
.comment-box .footbar .flag_comment {
    float: right
}
.noComment {
    border-top: 1px solid #ccc;
    color: #ccc;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0 15px 13px;
    clear: both
}
.popup_message h3 {
    font-size: 14px;
    color: #27282a;
    line-height: 20px;
    margin-bottom: 20px
}
.comment-form2 textarea {
    margin-bottom: 0;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.comment-form2 textarea,
.comment-form2 .signin-form input.textbox {
    background: #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}
.comment-form2 .signin-form .mathbox span {
    background: #e5e5e5;
    color: #333;
    font-weight: bold
}
.comment-form2 input.submit {
    background: url(https://timesofindia.indiatimes.com/photo/55895419.cms) no-repeat -120px 0;
    width: 28px;
    height: 24px
}
.comment-form2 .comment-footer {
}
.comment-form2.reply .comment-footer{padding: 0}
.comment-footer span.char-count {
    font-size: 13px;
    color: #333;
    position: static
}
.comment-box .footbar {
    padding: 0;
    display: inline-block;
    border-right: 0;
    width: 100%
}
.comment-box .footbar>span {
    margin: 0;
    padding: 0 5px;
    cursor: pointer
}
.comment-box .footbar>span[data-action="comment-agree"] span {
    color: #2dbe5a
}
.comment-box .footbar>span[data-action="comment-disagree"] span {
    color: #be281a
}
.comment-box .footbar .down {
    margin-left: 0
}
.comment-box .footbar span.divider {
    display: none
}
[data-plugin="comment"] .comment-form2 {
    margin: 10px 0 6px 0
}
.comment-section span.cpointer span {
    font-size: 11px;
    color: #666
}
.comment-section span[data-action="comment-reply"] {
    color: #5b9ae4;
    padding-left: 0
}
.points_wrap {
    float: right;
    margin-bottom: 5px;
    min-height: 19px
}
.comments-list {
    clear: both;
    margin-bottom:35px;
}
span[data-action="toggle_replies"] {
    float: right;
    padding: 0 7px;
    cursor: pointer;
    height: 24px;
    display: none;
    text-align: center;
    width: 110px;
    position: relative;
    box-sizing: border-box
}
span[data-togglereplies="show"]:before,
span[data-togglereplies="hide"]:before {
    content: "Show responses";
    color: #777;
    font-size: 12px;
    line-height: 24px;
    display: block;
    position: absolute;
    z-index: 1;
    left: -1px;
    top: 0;
    text-transform: uppercase;
    width: 110px
}
span[data-togglereplies="hide"]:before {
    content: "Hide responses"
}
.level1 span[data-action="toggle_replies"] {
    display: block
}
.comment-box {
    display: none
}
.comment-box.level0 {
    opacity: .5;
    transition: .25s ease
}
.comment-box.level0.highlight {
    background: #ddd;
    margin: 0 -10px;
    opacity: .2
}
.comment-box.level0.highlight.fadein {
    background: #f7f7f7;
    opacity: 1;
    transition: .9s ease
}
.comment-box.level0.highlight .user-thumbnail {
    left: 10px
}
.comment-box.level0,
.comment-box.level1,.comment-box.level2 {
    display: block;
    padding-bottom: 1px;
}
.badge .popup_badge::before {
    left: 271px
}
.popup_badge {
    left: -272px
}
.badges .more-btn .popup_badge::before {
    left: 272px
}
.comment-box[data-childcount="0"] [data-action="toggle_replies"] {
    display: none
}
.comment-section .loadmore {
    text-align: center;
    color: #777;
    cursor: pointer;
    padding: 15px;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 200px;
    text-transform: uppercase
}
div[data-plugin="comment-loading"] {
    text-align: center;
    padding-top: 10px
}
.show_all_responses {
    font-size: 14px;
    display: block;
    padding: 15px 0 0;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #666
}
.show_all_responses:hover {
    text-decoration: underline
}
.comment-box.show_all_responses {
    border: 1px solid #444;
    padding: 10px;
    line-height: 1;
    width: 80%;
    margin: 10px auto
}
.comment-box.show_all_responses:hover {
    text-decoration: none;
    color: #aeaeae
}
.comment-box .footbar .down span,
.comment-box .footbar .up span {
    font-size: 12px
}
.detail_comment_link {
    color: #777;
    cursor: pointer;
    text-align: right;
    font-style: italic
}
.detail_comment_link:hover {
    text-decoration: underline
}
.comment-form2 .signin-form .message {
    padding: 0 0 10px;
    font-size: 15px;
    line-height: 1;
    color: #fe5050
}
#comment-holder [data-plugin="user-notloggedin"],
.comment-form2.reply [data-plugin="user-notloggedin"] {
    padding: 15px 12px;
    background: #f7f7f7
}
[data-plugin="user-notloggedin"] h3 {
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    color: #454545
}
[data-plugin="user-notloggedin"] .sign-in {
    width: 56%;
    float: left
}
[data-plugin="user-notloggedin"] .divider {
    width: 30px;
    position: relative;
    float: left;
    height: 136px
}
[data-plugin="user-notloggedin"] .divider:before {
    position: absolute;
    content: '';
    background: #dadada;
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0
}
[data-plugin="user-notloggedin"] .divider span {
    font-size: 13px;
    line-height: 30px;
    color: #9f9f9f;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -15px;
    background: #fff;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center
}
[data-plugin="user-notloggedin"] .sign-in input.textbox {
    width: 90%
}
[data-plugin="user-notloggedin"] .sign-in input.submit1 {
    display: block;
    border: 0;
    clear: both;
    background: #5b9ae4;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    height: 34px;
    width: 94%;
    line-height: 34px;
    text-align: center
}
[data-plugin="user-notloggedin"] .social-signin {
    float: right;
    width: 34%;
    height: 136px;
    position: relative
}
[data-plugin="user-notloggedin"] .social-signin h3 {
    margin-bottom: 40px
}
[data-plugin="user-notloggedin"] .social-signin small {
    display: none
}
[data-plugin="user-notloggedin"] .social-signin span {
    display: inline-block;
    width: 34px;
    height: 35px;
    background: url(https://timesofindia.indiatimes.com/photo/55895419.cms) no-repeat;
    cursor: pointer;
    margin-right: 10px
}
[data-plugin="user-notloggedin"] .social-signin .fb {
    background-position: 0 -70px
}
[data-plugin="user-notloggedin"] .social-signin .google {
    background-position: -40px -70px
}
[data-plugin="user-notloggedin"] .social-signin .email {
    background-position: -80px -70px
}
[data-plugin="user-notloggedin"] .social-signin button {
    display: block;
    width: 90%;
    clear: both;
    background: #eaeaea;
    font-weight: bold;
    font-size: 15px;
    color: #7a7a7a;
    border: 1px solid #dbdbdb;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0
}
[data-plugin="user-notloggedin"] [data-plugin="get-user-location"] {
    float: left;
    width: 31% !important;
    margin-right: 3%
}
.comment-form2.reply [data-plugin="user-notloggedin"] .sign-in {
    width: 52%
}
.comment-form2.reply [data-plugin="user-notloggedin"] .mathbox input.textbox {
    width: 47%
}
.comment-form2.reply [data-plugin="user-notloggedin"] .social-signin {
    width: 36%
}
[data-plugin="comment-error"] {
    padding: 0 10px;
    font-size: 15px;
    line-height: 24px;
    color: #fe5050;
    background: #efefef; clear: both;
}
@media screen and (max-width: 1100px) and (min-width: 768px) {
    .leftsocial,
    .leftsocial.sticky,
    #ajaxcontent .leftsocial {
        top: auto;
        bottom: 0
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .comment-section {
        position: relative;
        margin-bottom: 0
    }
    .comments.slide-in .article{
        margin-top: 0px !important;
    }
    [data-plugin="comment"] .comment-form2 {
        margin-top: 20px
    }
    .comment-box {
        padding-left: 75px !important
    }
    .comment-box:last-child {
        border-bottom: 0
    }
    .comment-box a.name,
    .comment-box span.name {
        color: #000;
        font-size: 17px;
        float: none;
        margin-bottom: 5px
    }
    .comment-box .user-thumbnail {
        position: absolute;
        z-index: 50;
        left: 5px !important;
        top: 12px;
        width: 56px;
        height: 56px
    }
    .comment-box .comment-form2 .user-thumbnail {
        position: absolute;
        z-index: 50;
        left: 5px;
        top: 6px;
        width: 25px;
        height: 25px
    }
    .comment-box.level1 {
        border-color: #ccc
    }
    .comment-box.level2,
    .comment-box.level3 {
        margin-left: 80px
    }
    .comment-form2[data-plugin="comment-reply"] textarea+input.submit {
        margin-right: 20px;
        margin-top: 5px
    }
    .comment-box .user-thumbnail img {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%
    }
    .short_comment {
        color: #666;
        font-size: 16px
    }
    .comment-section h2{
        z-index: 999;
    }
    .comments .sortby {
        z-index: 1001;
    }
    .badges .more-btn {
        position: relative;
        float: left;
        line-height: 24px;
        top: 3px;
        background: url(https://timesofindia.indiatimes.com/photo/47429218.cms) no-repeat 0 0;
        width: 21px;
        height: 20px
    }
    .tooltip_wrap {
        margin-right: 10px
    }
    .comment-box span.point.platinum {
        background: #adbfe4
    }
    .comment-box span.point {
        display: inline-block;
        padding: 0 5px;
        line-height: 24px;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        position: relative;
        float: left
    }
    .tootipbox {
        position: absolute;
        width: 171px;
        border-radius: 5px;
        padding: 10px;
        background: #fff;
        border: 1px solid #999;
        bottom: 31px;
        left: 50%;
        margin-left: -90px;
        cursor: pointer;
        z-index: 500;
        box-shadow: 0 0 2px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .3);
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .3);
        font-size: 11px;
        line-height: 16px;
        color: #666;
        font-weight: normal;
        display: none
    }
    .comment-box .badges .badge {
        position: relative;
        height: 28px;
        width: 28px;
        margin-right: 5px;
        float: left;
        line-height: 24px;
        display: inline-block
    }
    .comment-box p {
        color: #666
    }
    .comment-form2.reply .close {
        display: block !important;
        color: #666 !important
    }
    .popup_badge:before {
        border-bottom-color: #27282a
    }
    .popup_badge .heading-block {
        background: #27282a
    }
    .popup_badge .heading-block h4,
    .popup_badge .heading-block span.level {
        color: #fff
    }
    .popup_badge .cont_right p {
        color: #999
    }
    .popup_badge .more-info span,
    .popup_badge .more-info a {
        color: ##09c;
        font-size: 12px
    }
    p.comment-dialog {
        clear: both;
        color: #666;
        font-size: 14px;
        line-height: 1.3;
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif
    }
}
.mCSB_container {
    margin-right: 0
}
@media screen and (max-width: 949px) {
    .comment-form2 .signin-form {
        float: none;
        padding-top: 10px;
        clear: left
    }
}
@media screen and (max-width: 768px) {
    .comment-box span.follow,
    .comment-box span.following {
        display: inline-block !important
    }
}
@media screen and (max-width: 767px) {
    .lhs {
        width: 100%
    }
    .comment-box {
        padding-left: 0
    }
    .comment-box.level2,
    .comment-box.level3,
    .comment-box.level4,
    .comment-box.level5,
    .comment-box.level6,
    .comment-box.level7 {
        padding-left: 0;
        margin-left: 20px
    }
    .comment-box .user-thumbnail,
    .comment-box.level2 .user-thumbnail,
    .comment-box.level3 .user-thumbnail {
        position: relative;
        float: left;
        margin: 0 10px 5px 0;
        top: 0
    }
    .comment-box p {
        clear: both
    }
    .comment-box .footbar .badges {
        display: block;
        margin-left: 10px
    }
    .comment-box .comment-form2.reply .user-thumbnail {
        position: absolute;
        float: none
    }
    .hide-mobile {
        display: none
    }
    .badges {
        display: block
    }
    .comment-box .badges .more-btn,
    .comment-box .badges .badge,
    .flag_comment,
    .comment-box .badges {
        position: static
    }
    .badges .more-btn {
        margin-top: 3px
    }
    .popup_badge {
        position: absolute;
        left: 50%;
        margin-left: -150px
    }
    .popup_badge:before {
        display: none
    }
    .comment-box.level2 .popup_badge,
    .comment-box.level3 .popup_badge {
        margin-left: -180px
    }
}
@media screen and (max-width: 567px) {
    .comment-form2 .signin-form {
        width: auto
    }
    .comment-box .comment-form2.reply {
        padding-left: 0
    }
    .comment-box .comment-form2.reply .user-thumbnail {
        position: relative;
        margin-bottom: 10px
    }
    .comment-footer span.char-count {
        text-align: right;
        display: block;
        margin-bottom: 10px
    }
    .popup_badge {
        width: 210px;
        margin-left: -105px
    }
    .comment-box.level2 .popup_badge,
    .comment-box.level3 .popup_badge {
        margin-left: -130px
    }
    .popup_badge .button {
        margin: 0 7px 5px
    }
    #non-loggeduser-post .form-area {
        padding: 15px 0 5px
    }
    #non-loggeduser-post .loggin-area {
        width: 33%
    }
    #non-loggeduser-post .verification-form {
        width: 62%;
        padding-left: 3%
    }
}
@media screen and (max-width: 479px) {
    #non-loggeduser-post .loggin-area,
    #non-loggeduser-post .verification-form {
        float: none;
        width: auto
    }
    #non-loggeduser-post .loggin-area span.button {
        padding-left: 44px;
        width: 65px
    }
    #non-loggeduser-post .loggin-area span.button.fb {
        background-position: 8px 0
    }
    #non-loggeduser-post .loggin-area span.button.twitter {
        background-position: 8px -61px;
        width: 48px
    }
    #non-loggeduser-post .loggin-area span.button.email {
        background-position: 8px -122px;
        width: 40px
    }
    .comment-form2 .social-post {
        width: auto;
        float: none;
        margin-left: 0;
        text-align: left
    }
    .comment-form2 .noreg .social-login {
        width: 200px
    }
    .comment-form2 .noreg .social-login span.email {
        margin-top: 5px
    }
    .comment-form2 .noreg .social-login span.email small {
        width: 50px
    }
    .comment-form2 .signin-form input.textbox {
        float: none;
        width: 80%;
        margin-bottom: 10px
    }
    .comment-form2 .signin-form input.submit {
        float: none
    }
    .comment-form2 .social-post {
        float: none;
        clear: left
    }
    .comment-form2 .social-post label {
        float: none;
        width: auto;
        margin-bottom: 5px
    }
}
#readrate {
    display: none;
    top: 22px;
    width: 356px;
    background-color: #fff;
    font-weight: bold;
    color: #393939;
    margin: 10px 0 0;
    border: 1px solid #ddd;
    border-top: 3px solid #00ba67;
    padding: 5px
}
#comment-section #readrate {
    float: left
}
#ratemsg {
    float: left;
    border: 0;
    width: 280px;
    color: #5d5d5d;
    font-size: 12px;
    line-height: 16px
}
.ratemsg {
    float: left;
    border: 0;
    width: 100%;
    color: #c60202;
    font-size: 11px
}
.shreadrate {
    float: right;
    border: 0;
    width: 15px;
    cursor: pointer;
    margin: 7px 0 0
}
.search-box {
    position: relative;
    width: 138px;
    display: inline-block;
    margin: 6px 6px 0 0;
    float: left;
    border-radius: 0 !important
}
.search-box input.newtextbox {
    border: 1px solid #000;
    box-shadow: 1px 1px 5px 1px #b6b6b6 inset;
    -moz-box-shadow: 1px 1px 5px 1px #b6b6b6 inset;
    -webkit-bo-shadow: 1px 1px 5px 1px #b6b6b6 inset;
    color: #757575;
    float: right;
    height: 21px;
    margin: 0;
    padding: 2px 4px;
    width: 128px;
    border-radius: 0 !important
}
.search-box a.down_arrow {
    background: url(https://timesofindia.indiatimes.com/photo/42335507.cms) no-repeat 6px 12px #000;
    display: block;
    height: 8px;
    padding: 9px 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    z-index: 20
}
.search-box ul.drop-down {
    position: absolute;
    width: 136px;
    border: 1px solid #000;
    left: 0;
    top: 26px;
    z-index: 30;
    border-bottom: 0;
    display: none
}
.search-box ul.drop-down li {
    background-color: #fff;
    border-bottom: 1px solid #000;
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    color: #383838;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: auto !important;
    line-height: 22px;
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0 4px;
    text-align: left;
    text-decoration: none
}
.search-box ul.drop-down li.active,
.search-box ul.drop-down li.hover {
    background-color: #e4e3e3;
    font-weight: bold
}
.rate-box1 {
    display: none !important
}
.rate-box1 h3 {
    float: left;
    margin: 13px 10px 15px 0 !important;
}
.rate-box1 .search-box {
    margin: 4px 0 0 !important
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden
}
.blank_ratingstars {
    background: url(https://timesofindia.indiatimes.com/photo/45759800.cms) no-repeat -1px -37px;
    display: inline-block;
    height: 19px;
    margin: 0 5px;
    width: 109px
}
.ratingstars_red {
    background: url(https://timesofindia.indiatimes.com/photo/45759800.cms) no-repeat left -5px;
    display: inline-block;
    height: 19px;
    overflow: hidden
}
.ratingstars_blue {
    background: url(https://timesofindia.indiatimes.com/photo/45759800.cms) no-repeat left -68px;
    display: inline-block;
    height: 19px;
    overflow: hidden
}
.comments_wrapper .rate-box1,
.comments_wrapper_sms [data-plugin="comment-form"] {
    display: none
}
.comments_wrapper_sms .comment-form2 .rate-box1 {
    display: block !important
}
.mvcmtwrapper .rate-box1,
.mvcmtwrapper .urs_rating {
    display: block !important
}
.comment-form2 #readrate {
    position: relative;
    right: 202px;
    top: 0;
    margin: 5px 0
}
.comment-box .cpointer.flag_comment>span {
    display: inline-block;
    vertical-align: middle
}
.comment-box .cpointer.flag_comment>span:hover {
    background-position: -40px -21px
}
.comments-overlay {
    position: fixed;
    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    z-index: -100;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: all .5s;
    -webkit-transition: all .5s;
    opacity: 0
}
.ipad .comments-overlay {
    opacity: 1
}
.comments.slide-in .comments-overlay {
    opacity: 1;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.65);
    z-index: 110001
}
.comment-box:last-child {
    margin-bottom: 15px;
}
.bottom-comments .comment-box {
    padding-left: 81px
}
.bottom-comments .comment-box:last-child {
    border-bottom: 0
}
.bottom-comments .comment-box a.name,
.bottom-comments .comment-box span.name {
    font-weight: bold;
    color: #454545;
    font-size: 17px;
    float: none
}
.bottom-comments .comment-box .user-thumbnail,
.bottom-comments .comment-box .comment-form2 .user-thumbnail {
    position: absolute;
    z-index: 50;
    left: 5px;
    top: 12px;
    width: 56px;
    height: 56px
}
.bottom-comments .comment-box .user-thumbnail {
    left: 16px
}
.bottom-comments .comment-box.level1 {
    border-color: #ccc
}
.bottom-comments .comment-box .user-thumbnail img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}
.bottom-comments .short_comment {
    color: #666;
    cursor: pointer
}
.bottom-comments span[data-action="comment-reply"] {
    color: #5b9ae4;
    padding-left: 0
}
.comment-section .notice{ 
    padding: 18px 0px 5px 0px;
    margin-bottom: 5px;
 }
 .hghlgt{
   -webkit-animation: highlight 5s;
 }
.mobile-comment {
    display: none !important;
}

/* rating css */
.rate_comments{padding:15px 0 0; border-top:1px solid #e4e4e4; font:17px 'proxima-semibold', 'Calibri'; color:#000; float:left; width:100%; margin-top:10px;}
.rate_comments h2,.commentsectionwebrecipe{color:#000; padding-bottom:15px; font-size:19px;}
.rate_comments h2 span,.commentsectionwebrecipe span{color:#676767; font-size:18px;}
.rate_comments .rate_comments_pic{display:inline-block; vertical-align:middle; width:48px; height:48px; border-radius:100%; overflow:hidden; margin-right:12px;}
.rate_comments .rate_comments_pic img{width:48px; height:48px; border-radius:48px;}
.rate_value{width:65px; display:inline-block; font-size:20px; line-height:32px; height:28px; vertical-align:middle;}
#textchgrat{line-height:28px; display:inline-block!important; height:28px; vertical-align:middle; margin-right:10px;}

.rate_widget{width:200px; height:31px; display:inline-block; vertical-align:middle; margin:0 5px;}
.rate_widget a.checked{background:url('/hindi-recipes/wp-content/themes/recipe-child/photo/56594673.png') no-repeat 0 -32px;}
.rate_widget ul{position:relative; width:233px; height:32px; overflow:hidden;
    list-style:none; margin:0; padding:0; background-position: left top;}
.rate_widget a{text-indent:-1000em; display:inline-block; margin-right:6px; height:32px; line-height:32px; outline:none; overflow:hidden; border: none; width:33px; background:url('/hindi-recipes/wp-content/themes/recipe-child/photo/56594673.png') no-repeat 0 0;}
.rate_widget a.one-stars{z-index:6;}
.rate_widget a.one-stars:active{background-position:0 -32px;}
.rate_widget a.two-stars{ z-index:5;}
.rate_widget a.two-stars:active{background-position:0 -32px;}
.rate_widget a.three-stars{z-index:4;}
.rate_widget a.three-stars:active{background-position:0 -32px;}
.rate_widget a.four-stars{z-index:3;}
.rate_widget a.four-stars:active{background-position:0 -32px;}
.rate_widget a.five-stars{z-index:2; margin-right:0;}
.rate_widget a.five-stars:active{background-position:0 -32px;}
.rate_widget a.checked{z-index:1;}
.sprite_rating .sprite_rating_grey.halffil{width:10px;}
.sprite_rating .sprite_rating_grey.onefil{width:19px;}
.sprite_rating .sprite_rating_grey.onehalffil{width:38px;}
.sprite_rating .sprite_rating_grey.twofil{width:48px;}
.sprite_rating .sprite_rating_grey.twohalffil{width:66px;}
.sprite_rating .sprite_rating_grey.threefil{width:76px;}
.sprite_rating .sprite_rating_grey.threehalffil{width:95px;}
.sprite_rating .sprite_rating_grey.fourfil{width:105px;}
.sprite_rating .sprite_rating_grey.fourhalffil{width:122px;}
.sprite_rating .sprite_rating_grey.fivefil{width:131px;}
.rate_comments .ratevalue_txt{text-align:center; font-size:13px; text-transform:uppercase;}
.avg_rate_value{color:#fff; font-size:12px; display:inline-block; margin-left:5px; line-height:16px; font-family:'proxima-semibold', 'Calibri'; vertical-align:middle;}
.avgrate{font-size:15px; color:#fff; line-height:16px; font-family:'proxima-semibold', 'Calibri'; vertical-align:middle; display:inline-block; width:21px; text-align:center;}

.info-bar .sprite_rating .sprite_rating_grey {
    height: 16px;
    background: url('/hindi-recipes/wp-content/themes/recipe-child/photo/56594673.png') no-repeat left -18px / 112px auto;
}
.info-bar .sprite_rating, .recipeshow_rating .sprite_rating{width:112px; height:16px; background-size:112px auto;}
.info-bar .sprite_rating .sprite_rating_grey, .recipeshow_rating .sprite_rating .sprite_rating_grey{height:16px; background:url('/hindi-recipes/wp-content/themes/recipe-child/photo/56594673.png') no-repeat left -18px / 112px auto;}
.info-bar .sprite_rating .sprite_rating_grey.threehalffil, .recipeshow_rating .sprite_rating .sprite_rating_grey.threehalffil{width:81px;}
.info-bar .sprite_rating .sprite_rating_grey.twohalffil, .recipeshow_rating .sprite_rating .sprite_rating_grey.twohalffil{width:56px;}
.info-bar .sprite_rating .sprite_rating_grey.fivefil, .recipeshow_rating .sprite_rating .sprite_rating_grey.fivefil{width:112px;}
.info-bar .sprite_rating .sprite_rating_grey.onefil, .recipeshow_rating .sprite_rating .sprite_rating_grey.onefil{width:18px;}
.info-bar .sprite_rating .sprite_rating_grey.onehalffil, .recipeshow_rating .sprite_rating .sprite_rating_grey.onehalffil{width:32px;}
.info-bar .sprite_rating .sprite_rating_grey.twofil, .recipeshow_rating .sprite_rating .sprite_rating_grey.twofil{width:42px;}
.info-bar .sprite_rating .sprite_rating_grey.threefil, .recipeshow_rating .sprite_rating .sprite_rating_grey.threefil{width:66px;}
.info-bar .sprite_rating .sprite_rating_grey.fourfil, .recipeshow_rating .sprite_rating .sprite_rating_grey.fourfil{width:90px;}
.info-bar .sprite_rating .sprite_rating_grey.fourhalffil, .recipeshow_rating .sprite_rating .sprite_rating_grey.fourhalffil{width:104px;}
